/* Menu lateral */
.sidebar {
width: 100px;
background-color: #F3E9FF;
color: #333;
padding: 20px 10px;
display: flex;
flex-direction: column;
align-items: center;
position: fixed;
height: 100%;
transition: transform 0.3s ease-in-out;
transform: translateX(-100%);
}

.sidebar.open {
transform: translateX(0);
}

.sidebar .menu-icon {
cursor: pointer;
margin-bottom: 20px;
}

.sidebar .profile {
display: flex;
flex-direction: column;
align-items: center;
margin-bottom: 30px;
}

.sidebar .profile img {
border-radius: 50%;
width: 50px;
height: 50px;
margin-bottom: 10px;
}

.sidebar nav ul {
list-style: none;
width: 100%;
text-align: center;
}

.sidebar nav ul li {
padding: 10px;
cursor: pointer;
color: #333;
}

.sidebar nav ul li i {
margin-right: 10px;
}

.menu-list {
list-style-type: none;
padding: 0;
display: flex;
flex-direction: column;
align-items: center;
}

.menu-list li {
text-align: center;
margin-bottom: 20px;
color: #333;
}

.menu-icon {
position: fixed;
top: 2rem;
left: 2rem;
display: block;
cursor: pointer;
font-size: 30px;
margin-bottom: 8px;
width: 24px;
height: 24px;
}

.menu-list li:hover .menu-icon {
filter: brightness(0.8);
}

.menu-item {
color: white;
padding: 20px;
cursor: pointer;
}

.menu-item:hover {
background-color: #686b6e;
}