body {
    margin: 0;
    padding: 0;
    height: 100%;
}
 .fin-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    margin-inline: 5rem;
    background-color: #F7F7F7;
    border-bottom: 1px solid #ccc;
  }
  
  .fin-nav-button {
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    color: #333;
  }
  
  .fin-indicators {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin: 15px 0;
  }
  
  .fin-indicator {
    display: flex;
    flex-direction: column;
    width: 10%;
    align-items: center;
    text-align: center;
    color: #666;
  }
  
  .fin-indicator-icon {
    font-size: 2rem;
  }
  
  .fin-indicator-icon.fin-despesas {
    color: #e63946;
  }
  
  .fin-indicator-icon.fin-receitas {
    color: #2a9d8f;
  }
  
  .fin-search-bar {
    display: flex;
    justify-content: center;
    margin: 15px 0;
  }
  
  .fin-search-bar input {
    width: 80%;
    max-width: 400px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
  }
  
  .fin-table-container {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    overflow-x: auto;
  }
  table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
  }
  
  th,
  td {
    text-align: left;
    width: 50%;
    padding: 10px;
    border: 1px solid #ddd;
    word-wrap: break-word;
    white-space: normal; 
  }
  
  .fin-item {
    display: flex;
    align-items: center;
    gap: 8px;
  }
  
  .fin-item-icon {
    font-size: 1.5rem;
  }
  
  .fin-item-title {
    font-weight: bold;
    margin: 0;
  }
  
  .fin-item-status {
    color: #777;
    font-size: 0.9rem;
  }
  
  .fin-item-value {
    margin-left: auto;
    font-weight: bold;
    white-space: nowrap;
  }
  
  .fin-item-value.fin-despesas {
    color: #e63946;
  }
  
  .fin-item-value.fin-receitas {
    color: #2a9d8f;
  }
  
  .fin{
    width: 50%;
  }
  .fin-headerGroup{
    margin-left: 6rem;
  }

  .values-fin{
    width: 20%;
  }

  .Delete-button{
    background-color: #e83f5b;
    padding: 10px 10px;
    width: 20%;
    color: white;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    margin-inline: 0.2rem;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  }

    /* Responsiveness */
    @media (max-width: 768px) {
        .fin-header h1 {
          font-size: 1.2rem;
        }
      
        .fin-nav-button {
          font-size: 1rem;
        }
      
        .fin-search-bar input {
          width: 100%;
        }
      
        .fin-item {
          flex-direction: column;
          align-items: flex-start;
        }
      
        .fin-item-value {
          margin-left: 0;
        }
      }