/* ModalForm.css */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 8px;
  max-width: 500px;
  width: 100%;
}

.close-button {
  background-color: #e83f5b;
  padding: 10px 10px;
}

.confirm-button{
  padding: 10px 10px;
  background-color: #6ec184;
}

.confirm-button, .close-button, .confirm-button-category{
  width: 100%;
  color: white;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  margin-inline: 0.2rem;
  margin-top: 1.5rem;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.message {
  margin: 10px 0;
  font-size: 18px;
  color: rgb(96, 121, 169);
  text-align: center;
  display: flex;
}

.message.error {
  color: red;
}

.confirm-button-category{
  background-color: rgb(96, 121, 169);
  padding: 10px 10px;
}
.success-message {
  color: green;
  margin-top: 10px;
}

.error-message {
  color: red;
  margin-top: 10px;
}
